<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
    <h1 th:text="${cabecera}"></h1>
    <ul>
        <li><a th:href="@{/loto/genera/49/6/spain}">Lotería España</a></li>
        <li><a th:href="@{/loto/genera/49/6/germany}">Lotería Alemania</a></li>
        <li><a th:href="@{/loto/genera/90/6/france}">Lotería Francia</a></li>
        <li><a th:href="@{/loto/genera/59/5/italy}">Lotería Italia</a></li>
    </ul>
    <a th:href="@{/}">Volver al Inicio</a>
</body>
</html>